.App {
  text-align: center;
}

.background {
  background-color: #2a1e1b;
}

.titles {
  font-size: 1.2em;
  max-width: 120px;
}

.filters > Button{
  margin: 0.5em;
}

.tier {
  display:flex;
  flex-wrap: wrap;
  color: white;
  font-size: small;
}

.elementCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em;
}

.tierImages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artifactImg {
  border-radius: 20px;
}

.btn.btn-info {
  border-radius: 20rem;
  min-width: 8rem;
  background-color: #3898ec;
  color: white;
  border-color: #3898ec;
}

.btn.btn-info:disabled {
  background-color: #2a4f6e;
  color: white;
  border-color: #2a4f6e;
}

.btn.btn-info:hover {
  background-color: #3898ec;
  border-color: white;
  color: white;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background-color: #3898ec;
  border-color: white;
  color: white;
}


.btn.btn-info:focus-visible {
  background-color: #3898ec;
  border-color: white;
  color: white;
}

.table {
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  display:flex;
  align-items: center;
  flex-direction: column;
  margin: 1em;
  flex-wrap: wrap;
}

#root {
  background-color: #2a1e1b;
}

html {
  background-color: #2a1e1b;
}

input {
  transform: scale(2);
}

table, th, td {
  border-bottom: 1px solid grey;
  border-color: grey;
}

img {
  height: 70px;
  width: 70px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tooltipJonas .react-tooltip {
  max-width: 80%;
  width: 20rem;
}
