.App {
  text-align: center;
}

.titles {
  font-size: 1.5em;
}

.filters > Button{
  margin: 0.5em;
}

.tier {
  display:flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em;
}

.artifactImg {
  border-radius: 20px;
}

.table {
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  display:flex;
  align-items: center;
  flex-direction: column;
  margin: 1em;
  flex-wrap: wrap;
}

input {
  transform: scale(2);
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

img {
  height: 150px;
  width: 150px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
