.App {
  text-align: center;
  scale: 80%;
  margin-top: -15%;
}

.background {
  background-color: #2a1e1b;
}

.titles {
  font-size: 1.5em;
}

.filters > Button{
  margin: 0.5em;
}

.tier {
  display:flex;
  flex-wrap: wrap;
  color: white;
  font-size: small;
}

.elementCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em;
}

.tierImages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artifactImg {
  border-radius: 20px;
}

.table {
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  display:flex;
  align-items: center;
  flex-direction: column;
  margin: 1em;
  flex-wrap: wrap;
}

#root {
  background-color: #2a1e1b;
}

html {
  background-color: #2a1e1b;
}

input {
  transform: scale(2);
}

table, th, td {
  border-bottom: 1px solid black;
}

img {
  height: 150px;
  width: 150px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
